<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nosotros</title>
</head>
<body>
  <div>
    <main class="holder">
      <div class="historia">
        <h2>Historia</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, aut optio neque architecto dignissimos
          perferendis? Totam, minus, harum hic in quis quibusdam itaque sint culpa voluptatum placeat voluptate
          ratione ipsam.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam accusantium eum ducimus
          perspiciatis iusto quos, reprehenderit et nihil, maxime incidunt suscipit quia! Sint ipsa ut mollitia
          provident perspiciatis soluta?
        </p>
      </div>
      <div class="Fundadores">
        <h2>Fundadores</h2>
        <div class="personas">
          <div class="persona">
            <img src="{{alanMoore}}" alt="Alan Moore">
            <h5>Alan Moore</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse soluta dolor modi natus temporibus
              veritatis ipsa repudiandae numquam eaque, architecto sequi animi labore distinctio dolorem dolorum
              possimus maxime debitis odio.
            </p>
          </div>
          <div class="persona">
            <img src="{{frankMiller}}" alt="Frank Miller">
            <h5>Frank Miller</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quisquam provident adipisci inventore
              quam eum cum, quis, minima non saepe obcaecati. Unde, accusamus mollitia ea at non eos ipsam aliquid.
            </p>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
